:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    margin-right: 5px;
}

.btn--primary1 {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    margin-top: 10px;
}

.btn--primaryw {
    background-color: #80f7d969;
    color: white;
    border: 1px solid #6c757d;
}

.btn--primary2 {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    margin: 10px 10px 30px 0px;
    float: right;
    font-size: 13px;
}

.btn--fileupload {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    /* margin: 10px 10px 30px 0px; */
    float: left;
    font-size: 13px;
    position: absolute;
}

.btn--fileupload1 {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    float: left;
    font-size: 13px;
    margin-left: 10px !important;
}

.btn--login {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    margin: 10px 20px 30px 0px;
    width: 30%;
    margin-bottom: 10%;
}

.btn--login1 {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
    margin: 10px 20px 30px 0px;
    width: 30%;
    margin-bottom: 5%;
}

.btn--fileupload1:hover,
.btn--secondaryp:hover,
.btn--primary2:hover,
.btn--primary1:hover,
.btn--primary:hover,
.btn--fileupload:hover {
    background-color: #5a6268;
    color: white;
    border: 1px solid #5a6268;
}

.btn--primaryw:hover {
    background-color: #16ba9b !important;
}

#btn-search-button {
    background-color: var(--primary);
    color: #374f7c;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    height: 35px;
    line-height: 1rem;
}

.btn--small {
    padding: 8px 20px;
    font-size: 16px;
    height: 30px;
    line-height: 0;
    margin-bottom: 3px;
    margin-left: 3px;
}

.btn--small--opt {
    padding: 8px 20px;
    font-size: 16px;
    height: 30px;
    line-height: 0;
    margin-top: 5px;
}

.btn--secondary1 {
    margin-top: 20px;
    background-color: #14c4d175;
    color: #fff;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    width: 100%;
    border-radius: 15px;
}

.btn--secondaryp {
    margin-top: 20px;
    background-color: #7b8289;
    color: #fff;
    border: 1px solid #7b8289;
    transition: all 0.3s ease-out;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.btn--small--progress {
    padding: 8px 20px;
    font-size: 16px;
    height: 30px;
    line-height: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

#btn-search-button:hover {
    transition: all 0.3s ease-out;
    background: 05ed88;
    color: #374f7c;
    transition: 250ms;
}

.btn--large:hover,
.btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #5a6268;
    color: white;
    transition: 250ms;
}

.btn--secondary {
    height: 35px;
    background-color: #05ed88;
    color: black;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    float: right;
}

.btn--small--search {
    padding: 8px 20px;
    font-size: 16px;
    height: 30px;
    line-height: 0;
    margin-left: 1px;
    background-color: #374f7c;
}

.btn--secondary1:hover,
.btn--secondary:hover {
    transition: all 0.3s ease-out;
    background-color: #0db281;
    color: #fff;
    transition: 250ms;
}