.hr-line {
    margin-top: 4px;
    background-color: #afadad;
    width: 100%;
    margin-bottom: auto;
}

.Trade_button {
    float: left;
    width: 96%;
    margin: 20px 0px 0px 20px;
    margin-top: 35px;
}

.workspace {
    float: left;
}

.delete {
    text-align: left;
    text-decoration: none;
    color: #ff0000 !important;
    cursor: pointer;
}

.delete:hover {
    color: #279cfc !important;
}

.launch {
    text-decoration: none;
    color: #4caf50;
    float: right;
}

.coins {
    width: 230px !important;
    float: right !important;
    margin: -10px -10px 0px 0px !important;
}

.coins:hover {
    transition: none!important;
    transform: none!important;
}

.earn {
    float: left;
    font-size: larger;
}

.invoice {
    text-align: left;
}

.cabs {
    float: left;
    margin-left: 0px;
}

.fileupload {
    float: left;
    width: 250px;
    margin-left: 20px;
}

.fileup {
    width: 25%;
}

.fileload {
    float: left;
    position: absolute !important;
}

.card1 {
    margin-left: 0px !important;
}

.delete:hover,
.launch:hover {
    color: rgb(39, 143, 255);
    text-decoration: none;
}

.card-title {
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 18rem;
    overflow: hidden;
    font-size: 1.1rem;
}

.card-subtitle {
    margin-top: 10px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 18rem;
    overflow: hidden;
}

.card-body {
    width: 100%;
    padding: 0.6rem;
}

.text-muted {
    color: #000000 !important;
}

.product_list {
    float: left;
    width: 100%;
}

.pro_info {
    font-size: large;
    float: left;
}

.collapsible {
    background-color: #beeada;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.collapsible:focus {
    outline: 0 !important;
}

.active,
.collapsible:hover {
    background: #09b3349c;
    box-shadow: inset 4px 3px 19px 3px #199736, inset -9px -4px 11px 0px #199736;
}

.content {
    padding: 0px 20px 20px 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    margin-left: 20px;
    backdrop-filter: blur(5px);
    background-color: rgb(3 3 3 / 0%);
    box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
    border-bottom: 4px rgba(40, 40, 40, 0.35) solid;
    border-right: 4px rgba(40, 40, 40, 0.35) solid;
}

.content1 {
    margin-top: 80px;
    padding: 0 20px 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    /* float: left; */
    margin-left: 20px;
    backdrop-filter: blur(5px);
    background-color: rgb(3 3 3 / 0%);
    box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
    border-bottom: 4px rgba(40, 40, 40, 0.35) solid;
    border-right: 4px rgba(40, 40, 40, 0.35) solid;
    margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
    .collapsible {
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 93%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        float: left;
        margin-left: 20px;
        border-radius: 6px;
        margin-bottom: 20px;
        background: #1f9975;
        box-shadow: 4px 4px 6px 0px #6a8f73, 0px -1px 0px #71e990;
    }
}

@media screen and (min-width: 520px) {
    .collapsible {
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 70%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        float: left;
        margin-left: 20px;
        border-radius: 6px;
        margin-bottom: 20px;
        background: #1f9975;
        box-shadow: 4px 4px 6px 0px #6a8f73, 0px -1px 0px #71e990;
    }
    .options1 {
        width: 20%;
        float: left;
        margin-left: 30px;
        background: #ffffff00;
        color: white;
        height: 35px;
    }
    .default {
        display: none;
    }
    .works {
        width: 50%;
        float: left;
    }
    .forces {
        width: 50%;
        float: right;
    }
    .card {
        width: 16.5rem;
        /* background-color: #f3f3f3; */
        margin: 10px 5px 2px 15px;
        display: inline-flex;
        margin-top: 10px;
        margin-left: 15px;
        display: inline-flex;
        text-align: left;
        float: left;
        backdrop-filter: blur(5px);
        background: linear-gradient( 89deg, rgb(250 250 250 / 16%) 0%, rgb(52 255 170 / 17%) 45%);
        box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
        border-bottom: 3px rgb(255 255 255 / 40%) solid;
        border-right: 3px rgb(246 246 246 / 43%) solid;
        color: white;
    }
}

@media only screen and (max-width: 515px) {
    .card {
        width: 90%;
        left: 10px;
    }
}

.acc_card {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card:hover {
    transition: 0.1s ease-in-out;
    transform: scale(1.07);
    backdrop-filter: blur(5px);
    background: linear-gradient( 89deg, rgb(250 250 250 / 16%) 0%, rgb(52 255 170 / 17%) 45%);
    box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
    border-bottom: 4px rgb(255 255 255 / 40%) solid;
    border-right: 4px rgb(246 246 246 / 43%) solid;
    color: white;
}

.row {
    margin: 0 -5px;
}

.card-rows {
    display: inline;
}