.itemlist {
    padding: 0px 0px 0px 20px;
    float: left;
    text-align: left;
    width: 100%;
    font-size: larger;
}

#trinfo {
    margin-top: 30px;
}

.sell_item {
    width: 25%;
    background-color: #48ba62ab;
    margin: 0px 20px 0px 20px;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
}

.buy_item {
    width: 25%;
    background-color: #48ba62ab;
    margin: 0px 20px 0px 20px;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
}

.sell_item:hover,
.buy_item:hover {
    width: 25%;
    background-color: #48ba62;
    margin: 0px 20px 0px 20px;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.market_content {
    margin-top: 60px;
}

.dyk {
    float: left;
    font-size: x-large;
    margin-left: 20px;
    /* margin-top: 60px; */
    width: 96%;
    text-align: left;
    color: #20c997;
}

.dykp {
    width: 90%;
    float: left;
    text-align: left;
    /* margin-left: 20px; */
    padding: 0px 20px 0px 20px;
}

.headlineinfo {
    width: 100%;
}

.ally {
    width: 90%;
    /* float: left; */
    /* text-align: left; */
    /* margin-left: 20px; */
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
}

.pageinfo {
    float: left;
    padding-left: 20px;
}